{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2 text-center title-details">
            <h1>{{ post.title}}</h1>
            <p>{{ post.excerpt }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}-image" class="img-details">
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 mt-3 content">
            {{ post.content|safe }}
        </div>
    </div>

</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        var value = $('.content').val()
        console.log(value);
        $('textarea.content-body').summernote('pasteHTML', value);
    </script>
{% endblock %}