{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://kit.fontawesome.com/0f9cf7d513.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Vinyl Vault {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <!-- Logo -->
      <nav class="navbar navbar-expand-lg navbar-dark p-2">
        <a class="navbar-brand main-logo-link text-danger" href="{% url 'home' %}">
          <i class="fa-solid fa-compact-disc fa-2x"></i><span class="ml-1">TVV</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Shop Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu">
                <!-- {% for category in categories_list %} -->
                <a class="dropdown-item text-muted p-2"
                  href="#">Category</a>
                <!-- {% endfor %} -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-muted" href="#">All Products</a>
              </div>
              <!-- Blog -->
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <!-- Contact -->
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <!-- Search Box -->
          <div class="container">
            <div class="row ml-auto">
              <form method="GET" action="#">
                <div class="input-group w-80">
                  <input class="form-control border rounded" type="text" name="q"
                    aria-label="Search">
                  <div class="input-group-append">
                    <button class="form-control btn border btn-outline-light rounded ml-2" type="submit">
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <ul class="navbar-nav mr-auto mr-lg-2 ms-lg-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                {% if request.user.is_authenticated %}
                <i class="fa-brands fa-napster text-danger fa-2x"></i>
                {% else %}
                <i class="fa-brands fa-napster fa-lg text-white"></i>
                {% endif %}
              </div>
              <!-- Login Dropdown -->
              <div class="dropdown-menu">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a class="dropdown-item" href="#">Add Product</a>
                {% endif %}
                <a href="#" class="dropdown-item">Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
          </ul>
          <!-- Basket -->
          <ul class="navbar-nav me-auto ml-lg-1 ms-lg-auto mb-2 mb-lg-0">
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-white font-weight-bold{% else %}text-danger{% endif %} text-center nav-link" href="#">
                <div>
                  <div><i class="fa-brands fa-opencart fa-lg text-white {% if grand_total %}text-danger{% endif %}" aria-hidden="true"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>