{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-7 py-3 contact-form">

            {% if not user.is_authenticated %}
            <h2 class="">Message Us</h2>
            <p class="">Please login to send a message!</p>
            <a href="{% url 'account_login' %}" class="btn btn-success rounded m-2">
                <span class="font-weight-bold">Login</span>
            </a>
            <a href="{% url 'home' %}" class="btn btn-secondary rounded m-2">
                <span class="font-weight-bold">Home</span>
            </a>
            {% else %}

            {% if user.is_authenticated %}
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="fw-bold mt-3 text-danger">Send Message</h2>
                    <hr>
                </div>
            </div>
            <form method="POST" class="text-danger" enctype="multipart/form-data">
                {% csrf_token %}

                {{ contact_form| crispy }}

                <button class="btn btn-outline-dark float-right" type="submit">Send</button>
            </form>
            {% endif %}
            {% endif %}
            <!-- Form Errors from stack overflow -->
            {% if contact_form.errors %}
            {% for field in contact_form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in contact_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-12 col-md-5">
            <h2 class="text-uppercase custom-heading fw-bold mb-4 text-secondary">Contact</h2>
            <h4><i class="fas fa-home me-3 text-secondary"></i> Tralee, Ireland</h4>
            <h4>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              tvv@gmail.com
            </h4>
            <h4><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</h4>
            <h4><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</h4>
            <div id="map" class="my-5"></div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>  
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ9ih5qY1upCnqAYhY2qQ7hw_syVMgp0U&callback=initMap" type="text/javascript"></script>
    <script src="{% static 'contact/js/map.js' %}"></script>
{% endblock %}