.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.col-md-8 {
    padding-left: 0;
    padding-right: 0;
}

.summary {
    background-color: #CE5959;
}


.qty_input {
    text-align: center;
    width: 60px;
    padding: 3px;
}