{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid products-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Albums</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row"></div>
            <div class="row mt-4">
                {% for album in albums %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="product-wrapper mb-45 text-center">
                       <div class="product-img-container">
                          <a href="{% url 'product_detail' album.id %}" data-abc="true">
                            <img src="{{ album.image.url }}" alt="{{ album.name }}" class="products-image">
                          </a>
                            <span class="text-center"><i class="fa-solid fa-euro-sign"></i> {{ album.price }}</span>
                          <div class="product-action">
                             <div class="product-action-style">
                                <a href="{% url 'product_detail' album.id %}"> <i class="fa fa-plus"></i></a>
                                {% if album.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ album.rating }} / 5</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                                <a href="#"> <i class="fa-brands fa-opencart"></i> </a>
                            </div>
                          </div>
                       </div>
                       <div>
                        <a href="{% url 'product_detail' album.id %}"><h5 class="text-white bold mt-1">{{ album.name }}</h5></a>
                       </div>
                    </div>
                 </div>

                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}