{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid products-detail-container pb-5">
    <div class="row pt-5">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <a href="{{ album.image.url }}" data-abc="true" target="_blank">
                <img src="{{ album.image.url }}" alt="{{ album.name }}" class="products-image">
            </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <h3>{{ album.name }}</h3>
            <p>{{ album.genre.friendly_name }}</p>
            {% if album.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ album.rating }} / 5</small>
            {% else %}
                <small class="text-muted">No Rating</small>
            {% endif %}
            <h5 class="text-muted mt-1">€ {{ album.price }}</h5>
            <form class="form" action="{% url 'add_to_bag' album.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button class="btn btn-outline-secondary btn-number decrement-qty"
                                            data-item_id="{{ album.id }}" id="decrement-qty_{{ album.id }}">
                                        <span><i class="fa-solid fa-minus"></i></span>
                                    </button>
                                </span>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="5" data-item_id="{{ album.id }}" id="id_qty_{{ album.id }}">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-number increment-qty"
                                            data-item_id="{{ album.id }}" id="increment-qty_{{ album.id }}">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 mt-5">
                            <span class="icon">
                                <i class="fa-regular fa-circle-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <h5>Tracks:</h5>
            <ul class="list-unstyled">
                {% for track in tracks %}
                 <li>{{track.track_number }}. {{ track.name }} ({{ track.length }})</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/quantity_input_script.js' %}"></script>
{% endblock %}